<div class="container">
    <form class="mt-5">
        <div class="form-group" *ngIf='servicio !== null '>
          <label>Id</label>
          <input type="text" class="form-control" id="input-id" placeholder="Id" disabled [(ngModel)]='idServicio' name="idServicio">
        </div>
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" id="input-nombre" placeholder="Nombre" [(ngModel)]='nombre' name="nombre">
        </div>
        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control" id="input-descripcion" placeholder="Descripcion" [(ngModel)]='descripcion' name="descripcion">
        </div>
        <div class="form-group">
          <label>Precio</label>
          <input type="text" class="form-control" id="input-precio" placeholder="Precio" [(ngModel)]='precio' name="precio">
      </div>
      <label>Categoria</label>
      <select *ngIf='servicio === null' class="browser-default custom-select" (change)='optionChanged($event)'>
        <option value="-1" selected>Selecciona una categoria</option>
        <option *ngFor='let category of categories' [value]='category.id'>{{ category.nombre }}</option>      
      </select>
      <select *ngIf='servicio !== null' class="browser-default custom-select" (change)='optionChanged($event)'>
        <option value="-1">Selecciona una categoria</option>
        <option *ngFor='let category of categories' [value]='category.id' [selected]='category.id === categoriaId'>{{ category.nombre }}</option>      
      </select>
        <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01" (change)='fileChanged($event)'>
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
    </form>
    <button type="submit" class="btn btn-primary mt-3" (click)='saveService()'>Guardar Cambios</button>
</div>